.profileCardContainer {
	width: 100%;
	height: 100%;
}

.profileCardImage {
	width: 100%;
	height: 150px;
	background-color: #D3D3D3;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.profileInfoContainer {
	padding: 10px;
}

.profileInfoContainer * {
	margin: 0;
}

.profileInfoContainer *:not(.profileName) {
	font-size: 13px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	gap: 10px;
}

.profileName {
	font-size: 17px;
    font-weight: 500;
	margin-bottom: 5px;
}

.actionButtonsContainer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #E5E4E2;
	height: 36px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}

.actionButtons {
	cursor: pointer;
	background-color: #E5E4E2;
}